.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-container {
  background-color: rgba(227, 235, 235);
  height: 100%;
  width: 100%;
  padding: 20px 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 18px;
}

.header button {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 600;
  background-color: #fff;
  padding: 6px 8px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  cursor: pointer;
}

.bookmark-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}