/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0e0b23;
  color: #fff;
  overflow-x: hidden;
}

/* Layout */
.app-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: #1f1f41;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo img {
  margin-bottom: 30px;
  height: 40px;
  width: auto
}

.all-boards {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #aaa;
}

.board-item {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #cfcfff;
}

.board-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.board-item.active {
  background-color: #4b50ff;
  color: white;
}

.menu-toggle {
  color: #bbb;
  margin-left: 8px;
  cursor: pointer;
}

.board-menu {
  position: absolute;
  right: 10px;
  top: 35px;
  background: #afbaff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  z-index: 20;
  padding: 6px;
  min-width: 130px;
}

.board-menu button {
  background: none;
  border: none;
  text-align: left;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.board-menu button:hover {
  background: #f5f5f5;
}

.board-menu button.delete {
  color: #e63946;
}

.board-menu button.delete:hover {
  background: #ffe5e5;
}

.create-board-btn {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 18px;
  border: none;
  background: none;
  color: #6f76ff;
  margin-top: 20px;
  cursor: pointer;
  text-align: left;
  margin-left: 10px;
}


/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #19193f;
  padding: 20px 40px;
  border-bottom: 1px solid #2b2b4b;
  position: sticky;
  top: 0;
}

.add-task-btn {
  background-color: #6f76ff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.add-task-btn:hover {
  background-color: #535cff;
}

.add-task-btn i {
  margin-right: 6px;
}

/* Columns */
.content-column {
  flex: 1;
  background-color: #0e0b23;
  margin-left: 250px;
}

.board-columns {
  display: flex;
  gap: 20px;
  padding: 28px;
  /* height: 100vh; */
  justify-content: space-evenly;
}

.no-boards {
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.createBoard-btn {
  display: flex;
  gap: 8px;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  background-color: #6f76ff;
  border: none;
  padding: 6px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.column {
  background-color: transparent;
  flex: 1;
  min-width: 160px;
}

.column-title {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.task-count {
  font-size: 0.9rem;
  font-weight: 400;
  color: #aaa;
}

.task-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px 4px 0 4px;
  min-height: 420px;
  border-radius: 10px;
  /* border: 1px solid #2b2b2b; */
}

.task-card {
  background-color: #1f1f41;
  padding: 15px;
  min-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.task-card:hover {
  transform: translateY(-4px);
  background-color: #2c2c54;
}

.task-card h5 {
  color: white;
  margin-bottom: 8px;
}

.task-card p {
  font-size: 0.8rem;
  color: #aaa;
}

.empty-column {
  color: #666;
  font-size: 0.9rem;
  padding-bottom: 20px;
  /* text-align: center; */
}

/* Modals */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #1f1f41;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
  word-wrap: break-word;
}

.modal-content h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #2c2c54;
  color: white;
}

textarea {
  height: 60px;
}


.action-btn {
  display: flex;
}

.create-btn,
.board-rename-btn,
.add-subtask-btn {
  background-color: #6f76ff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
}

.subtask-field {
  display: flex;
  gap: 8px;
  align-items: center;
}

.add-subtask-btn {
  background-color: white;
  color: #5956e8;
}

.add-subtask-btn:hover {
  background-color: #5956e8;
  color: white;
}

.remove-subtask-btn {
  background-color: transparent;
  color: #ff5555;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.cancel-btn,
.cancel-rename-btn,
.delete-task-btn {
  background-color: #e74c3c;
  margin-top: 10px;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
}


.task-detail {
  background: #1f1f41;
  color: #fff;
  border-radius: 16px;
  padding: 24px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  word-wrap: break-word;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header h2 {
  font-size: 1.4rem;
  margin: 0;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #777;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: rgb(207, 65, 65);
}

/* description */
.task-desc {
  margin: 12px 0 20px;
  line-height: 1.4;
  color: #989898;
}

/* subtasks */
.subtask-section h3 {
  margin-bottom: 8px;
  font-size: 1rem;
}

.subtask-section ul {
  list-style: none;
  padding: 0;
}


.subtask-item {
  align-items: center;
  margin: 8px 0;
  border-radius: 6px;
  background: #2c2c54;
  padding: 6px 8px;
}

.subtask-item:hover {
  background: #2b2b40;
}


.subtask-item input[type='checkbox'] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: #635fc7;
}

.subtask-item label {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-size: 14px;
  color: #fff;
}

.subtask-item.done label {
  text-decoration: line-through;
  color: #999;
}

.task-footer {
  display: flex;
  gap: 20px;
}

/* TOAST STYLINGS */
.toast {
  position: fixed;
  top: 30px;
  right: 50%;
  padding: 14px 22px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  animation: toastIn 0.4s ease, toastOut 0.5s ease 2.5s forward;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.toast-success {
  background-color: #16a34a;
}

.toast-error {
  background-color: #dc2626;
}

.toast-info {
  background-color: #2563eb;
}

/* Confirmation message modal styling */
.confirm-modal {
  background-color: #1e1e2f;
  color: #fff;
  border-radius: 12px;
  width: 350px;
  padding: 20px;
  text-align: center;
  animation: popUp 0.3s ease;
}

.confirm-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #ff6b6b;
}

.confirm-message {
  font-size: 0.95rem;
  margin-bottom: 20px;
  line-height: 1.4;
}

.confirm-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.confirm-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.confirm-btn.delete {
  background-color: #e74c3c;
  color: white;
}

.confirm-btn.delete:hover {
  background-color: #c0392b;
}

.confirm-btn.cancel {
  background-color: #555;
  color: white;
}

.confirm-btn.cancel:hover {
  background-color: #444;
}

@keyframes popUp {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toastOut {
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5956e8;
}