.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background-color: #fff;
  border-radius: 10px;
}

.card-detail {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0;
  gap: 12px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}

.card-header .card-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-header .card-title .bookmark-icon {
  background-color: #fff;
  padding: 2px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card-header .card-title img {
  height: 30px;
  width: 30px;
}

.card-header .card-title .title-and-link {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.card-header .card-title .title-and-link h2 {
  font-size: 20px;
  font-weight: 700;
}

.card-header .card-title .title-and-link a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

.card-header .toggle-menu {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-content .bookmark-description {
  font-size: 14px;
  color: #777;
  font-weight: 500;
}

.card-content .bookmark-tags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-content .bookmark-tags span {
  font-size: 12px;
  background-color: rgba(227, 235, 235);
  color: #555;
  font-weight: 400;
  padding: 2px 7px;
  border-radius: 4px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e2e2e2;
  padding: 10px 15px;
}

.card-footer .time-stamp {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-footer .time-stamp span {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #444;
  gap: 6px;
}

.card-footer .pin {
  color: #777;
  cursor: pointer;
  display: flex;
  align-items: center;
}